<div class="d-flex align-items-center justify-content-center">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="email" id="name" placeholder="Enter name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="name">Contact</label>
      <input type="number" class="form-control" name="email" id="contact" placeholder="Enter contact" [(ngModel)]="contact">
    </div>
    <div class="form-group d-flex flex-column">
      <label for="gender"> Select you gender</label>
      <select name="gender" id="gender" [(ngModel)]="gender">
        <option value="none" selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">other</option>

      </select>
    </div>
    <div class="d-flex justify-content-between m-2">
      <button type="submit" class="btn btn-primary" (submit)="createUser()" (click)="createUser()">Sign Up</button>
    </div>

  </form>
</div>
