<nav>
  <ul class="menu">
    <li class="logo"><a href="#">/# SLASHHASH</a></li>
    <li class="item"><a href="{{appUrls.Home.BASE_URL}}">Home</a></li>
    <li *ngIf="isLogin=='false'" class="item"><a href="{{appUrls.Register.BASE_URL}}">Register</a></li>
    <li class="item"><a href="{{appUrls.Faq.BASE_URL}}">FAQ</a>
    </li>
  </ul>
</nav>
