<div class="d-flex flex-column align-items-center justify-content-start">
  <button (click)="getUsers()">Get Users</button>
  <details *ngFor="let data of users">
    <summary>{{data.email}}</summary>
    <details *ngFor="let fav of data.favCities">
      <a href="api.openweathermap.org/data/2.5/weather?q={{fav.city}}&appid={{apiKey}}">{{fav.city}}</a>
      <button (click)="deleteFavCity(fav.city, data.id)">Remove</button>
    </details>
    <input placeholder="Add City" [(ngModel)]="city"/>
    <button (click)="addFavCity(city, data.id)">Add</button>
  </details>
</div>
